a {
  text-decoration: none;
}

.repository-item {
  width: 44.625rem;
  height: 7rem;

  display: flex;
  align-items: center;

  background: #fff;
  border-radius: 5px;

  list-style: none;
}

.repository-item img {
  margin-left: 14px;

  width: 5.1875rem;
  height: 5.1875rem;

  border-radius: 50%;
}

.repository-item div {
  margin-left: 1.375rem;

  display: flex;
  flex-direction: column;
}

.repository-item div strong {
  margin-bottom: 4px;

  font-size: 1.5rem;
  line-height: 1.75rem;
}

.repository-item div span {
  width: 28.625rem;

  color: var(--light-text);
  font-size: 1.125rem;
  line-height: 1.375rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.repository-item .right-arrow {
  margin-left: auto;
  margin-right: 2rem;

  transition: margin 0.2s;
}

.repository-item:hover .right-arrow {
  margin-right: 1.5rem;
}